# Allow Launcher3 to query ZRAM size for Recents meminfo
r_dir_file(platform_app, sysfs_zram)

# Allow SystemUI to read USB UVC webcam property
get_prop(platform_app, usb_uvc_enabled_prop)

# Allow SystemUI to read Bluetooth LE Audio property
get_prop(platform_app, bluetooth_lea_prop)
